body{
  text-align: center;
}

.addButton{
  margin-top: 20px;
}

.removeBtn{
   margin-top: 20px;
}

 
.taskList{
  margin-top: 20px;
 
}

.items{
  font-size: 20px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(36, 212, 95, 0.952);
  font-weight: 600;
  color: crimson; 
  list-style: none;
  
}

.fa{
float:right;
padding-top: 4px;
}
